.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 5pt;
    padding: 0
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-size: 0.75em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre3 {
    height: auto;
    width: auto;
    border: currentColor none 0
    }
.contents {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-left: 0;
    text-align: justify
    }
.contents-title {
    display: block;
    font-size: 1.25em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center
    }
.contents1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-left: 1em;
    text-align: justify
    }
.contents2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-left: 2em;
    text-align: justify
    }
.contents3 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-left: 3em;
    text-align: justify
    }
.duokan-image {
    height: auto;
    line-height: 200%;
    width: 100%;
    border: currentColor none 0
    }
.duokan-image-static {
    display: block;
    line-height: 200%;
    text-align: center;
    width: 100%;
    margin: 1em auto
    }
.fnote {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.formula-1em {
    height: 1em;
    width: auto;
    border: currentColor none 0
    }
.middle-img {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: center;
    margin: 0
    }
.p {
    color: #a9732d;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.p1 {
    color: #a9732d;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 0.67em 0
    }
.p2 {
    background-color: #d9d9d9;
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.p3 {
    color: #a9732d;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1em 0
    }
.p4 {
    color: #a9732d;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0.83em 0
    }
.p5 {
    color: #a9732d;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 0.83em 0
    }
.p6 {
    color: #a9732d;
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1.33em 0
    }
.pcalibre {
    color: #a9732d;
    text-decoration: none
    }
.pcalibre2 {
    color: #a9732d;
    line-height: 1.2;
    text-decoration: none
    }
.pcalibre3 {
    color: #a9732d;
    font-size: 1em;
    line-height: 1.2;
    text-decoration: none;
    text-indent: 2em
    }
.pic {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center
    }
.yanse {
    color: #a9732d;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em
    }
.you {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: right;
    margin: 1em 0
    }
.ziti {
    color: #a9732d;
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0
    }
.ziti1 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    margin: 1em 0
    }
.ziti2 {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 2em;
    margin: 1em 0
    }
.pcalibre1:hover {
    color: #F60;
    text-decoration: underline
    }
